<template name = "consent">
	<div class="jumbotron container-fluid">
		<div class="row well well-xs">
			<div class="col-xs-10 col-xs-offset-1">
				<h2 align="center">CONSENT TO PARTICIPATION</h2>
				<br>
				<br>
				<blockquote>
					This HIT is part of a project being conducted by researchers from the department of Psychological and Brain Sciences at Dartmouth College, Hanover, NH, USA.  The study broadly aims understand how individuals make decisions in group contexts and what group dynamics influence successful and unsuccessful outcomes. 
				</blockquote>
				<blockquote>
					Your participation is voluntary. Participation involves making judgments about text excerpts that consist of conversations between different people. 
				</blockquote>
				<blockquote>
					The information collected will be anonymous as per Mechnical Turk Guidelines. Any presentations of the larger study will represent the aggregation of data from groups of people.
				</blockquote>
				<blockquote>
					Questions about this project may be directed to the <br>
					Computational Social and Affective Neuroscience Lab<br>
					computational.social.affective.neuroscience.lab@dartmouth.edu<br><br>
					This contact information will appear on the banner at the bottom of your screen for the duration of the HIT.
				</blockquote>
				<p>Please click 'Agree' below if you agree to take part in this HIT. If you choose not to participate you will be asked to return the HIT.</p>
				<button type="button" class="btn btn-success btn-lg" aria-label="Left Align" style="margin-left:auto; margin-right:auto; display:block" id="Consent">I Agree</button>
				<button type="button" class="btn btn-danger btn-lg" aria-label="Left Align" style="margin-left:auto; margin-right:auto; display:block" id="NoConsent">I Do NOT Agree</button>
			</div
		</div>
	</div>
</template>


