<template name = "instructions">
	<div class = "container-fluid" id = "main">
		{{> sampleExchange}}
		{{> tutorial options}}
	</div>
</template>

<template name="accept">
	<h3 align="center"> Thank you for accepting this HIT</h3>
	<blockquote class = "instr">
		For the best experience please maximize this window so it takes up the entire screen. <br><br>
		Please read the following set of instructions <i>carefully</i>.<br><br>You may move forward and backwards through any page of these instructions at any time.
	</blockquote>
	<br>
	<p align = "center" style = "font-size:14px"> Click next to begin the instructions </p>
</template>

<template name="overview">
	<h3 align="center">Overview</h3>
	<blockquote class = "instr">
	In this HIT you will be reading a series of chat conversations between individuals and applying a label that best describes the content of what each individual is saying. You will see conversations between <b>3 different pairs </b> of people. Each conversation will consist of <b>10 rounds of exchanges</b>. Each exchange will be comprised of <b>2 messages from each individual</b>.
	</blockquote>
</template>

<template name = "context">
	<h3 align = "center">Overview (con't)</h3>
	<blockquote class = "instr">
		These conversations occurred during a game in which individuals were making a series of monetary decisions with a group of people. Each exchange took place after individuals decided how much money they wanted keep for themselves versus share with the entire group and they same choices made by other people playing this game. 
	</blockquote>
</template>


<template name = "labels">
info about labels
</template>

<template name = "layout">
here is the layout
</template>

<template name = "example">
look at this example
</template>

<template name = "summary">
Recap info
</template>

<template name ="sampleExchange">
	<div class = "container-fluid exchangeInfo">
		<div class = "row">
			<div class = "col-xs-5">
				<h5 align="center">Message 1</h5>
				<p align="center" class="bubbleLeft">Sample message 1 from Player A</p>
			</div>
			<div class = "col-xs-2">
				<h3 align="center">Round 1</h3>
			</div>
			<div class = "col-xs-5">
				<h5 align="center">Message 1</h5>
				<p align="center" class="bubbleRight">Sample message 1 from Player B</p>
			</div>
		</div>
		<div class = "row">
			<div class = "col-xs-5">
				<h5 align="center">Message 2</h5>
				<p align="center" class = "bubbleLeft">Sample message 2 from Player A</p>
			</div>
			<div class = "col-xs-5 col-xs-offset-2">
				<h5 align="center">Message 2</h5>
				<p align="center" class = "bubbleRight">Sample message 2 from Player B</p>
			</div>
		</div>
		<div class = "row">
			<div class = "col-xs-5">
				<form role="form" align="center" class = "leftLabel">
				    <label class="radio-inline">
			      		<input type="radio" name="radioLeft" value = "gossip">Gossip
			    	</label>
			    	<label class="radio-inline">
			      		<input type="radio" name="radioLeft" value = "strategy">Strategy
			    	</label>
			    	<label class="radio-inline">
			      		<input type="radio" name="radioLeft" value = "socialConn">Chit-Chat
			    	</label>
			    	<label class="radio-inline">
			      		<input type="radio" name="radioLeft" value = "gameComm">Game Commentary
			    	</label>
			    	<label class="radio-inline">
			      		<input type="radio" name="radioLeft" value = "nonsense">Nonsense
			    	</label>
			    	<label class="radio-inline">
			      		<input type="radio" name="radioLeft" value = "other">Other
			    	</label>
			  	</form>
		  	</div>
		  	<div class = "col-xs-5 col-xs-offset-2">
				<form role="form" align="center" class = "rightLabel">
					<label class="radio-inline">
			      		<input type="radio" name="radioRight" value = "gossip">Gossip
			    	</label>
			    	<label class="radio-inline">
			      		<input type="radio" name="radioRight" value = "strategy">Strategy
			    	</label>
			    	<label class="radio-inline">
			      		<input type="radio" name="radioRight" value = "socialConn">Chit-Chat
			    	</label>
			    	<label class="radio-inline">
			      		<input type="radio" name="radioRight" value = "gameComm">Game Commentary
			    	</label>
			    	<label class="radio-inline">
			      		<input type="radio" name="radioRight" value = "nonsense">Nonsense
			    	</label>
			    	<label class="radio-inline">
			      		<input type="radio" name="radioRight" value = "other">Other
			    	</label>
			  	</form>
		  	</div>
	  	</div>
	  	<br><br>
  	</div>
  	<hr>
</template>