<!---<template name = "instructions">
	<div class = "container-fluid" id = "main">
		{{> tutorial options}}
	</div>
</template>

<template name="accept">
	<h3 align="center"> Thank you for accepting this HIT</h3>
	<blockquote class = "instr">
		For the best experience please scroll/adjust the window until you can see both the top and bottom banners of the screen.<br><br>
		Please read the following set of instructions <i>carefully</i>.<br><br>You may move forward and backwards through any page of these instructions at any time.
	</blockquote>
	<br>
	<p align = "center" style = "font-size:14px"> Click next to begin the instructions </p>
</template>

<template name="overview">
	<h3 align="center">Overview</h3>
	<blockquote class = "instr">
	In this HIT you will be reading a series of chat conversations between individuals and applying a label that best describes the content of what each individual is saying. You will see conversations between <b>3 different pairs </b> of people. Each conversation will consist of <b>10 exchanges</b>. Each exchange will be comprised of <b>2 messages from each individual</b>.
	</blockquote>
</template>

<template name = "context">
	<h3 align = "center">Overview (con't)</h3>
	<blockquote class = "instr">
		These conversations occurred during a game in which individuals were making a series of monetary decisions with a group of people. Each exchange took place after individuals decided how much money they wanted keep for themselves versus share with the entire group and they same choices made by other people playing this game. 
	</blockquote>
</template>

<template name = "exampleRound">
	<h3 align = "center">Example Round</h3>
	<p align = "center" style = 'font-size: 16px'>To illustrate the game let's look at an example round:</p>

		<ol class = "exampleRound">
		<li class = "exampleRound">You will receive 100 points and choose how many to contribute to the group account; let's say you choose to contribute 50 points</li>
		{{#if batchCond.fullInfo}}
		<li class = "exampleRound">You will be able to see the contributions made by all the other players; let's say you see contributions of: 100, 0, 50, 50, and 50 points</li>
		{{else}}
		<li class = "exampleRound">You will be able to see the contributions made by two other players; let's say you see contributions of: 75 and 25 points</li>
		{{/if}}
		{{#if batchCond.messaging}}
		<li class = "exampleRound">You will be able to send and receive two messages with another player</li>
		{{/if}}
		<li class = "exampleRound">You will receive the outcome of splitting the group account after the multiplier (1.5x) is applied; let's say you receive 75 points at the end of the round; your total earned for that round would be <b>125 points</b> (50 you didn't contribute + 75 you earned)</li>
		</ol>

	{{#if batchCond.fullInfo}}
		<blockquote class = "instr">
			Based on this you can deduce that the group earned a total of 450 points and all players contributed a total of 300 points: 
		</blockquote>
		<p align = "center" style= 'font-size: 14px; margin-top: -2%'>
			75 (each player's earning) * {{numPlayers}} (total number of players) = 
			<br>
			<b>450 (total of group account after multiplier)</b>
		</p>
		<p align = "center" style= 'font-size: 14px'>
			450 / 1.5 (group multiplier) = 50 (your contribution) + 100 + 0 + 50 + 50 + 50 = 
			<br>
			<b>300 (sum of all contributions)</b>
		</p>
	{{else}}
		<blockquote class = "instr">
			Based on this you can deduce that the group earned a total of 450 points and the players whose contributions you can't see must have contributed a total of 150 points:
		</blockquote>
		<p align = "center" style= 'font-size: 14px'>
			75 (each player's earning) * {{numPlayers}} (total number of players) = 
			<br>
			<b>450 (total of group account)</b>
		</p>
		<p align = "center" style= 'font-size: 14px'>
		450 / 1.5 (group multiplier) = 300 - 50 (your contribution) - 75 - 25 = 
			<br>
			<b>150 (sum of players you can't see)</b>
		</p>
	{{/if}}
</template>

<template name = "recap">
	<h3 align="center">Recap</h3>
	<blockquote class = "instr">
	To review, you will play a game with {{otherPlayers}} other players consisting of {{numRounds}} rounds. Each round will comprise
	{{#if batchCond.messaging}} 4 {{else}} 3 {{/if}}parts:<br><br>
	<ol>
		<li>Each player will receive 100 points and decide how many of their points to contribute to the group account</li>
		<li>Each player will be able to see the contributions made by {{#if batchCond.fullInfo}}<b><i>all</i></b>{{else}} <b><i>two</i></b>* {{/if}} of the other {{otherPlayers}} players
		</li>
		 {{#if batchCond.messaging}}
		<li>Each player will be able to send and receive two messages to <b><i>one</i></b> randomly selected player*</li>
		{{/if}}
		<li>Each player will see how much they earned after the group account multiplier is applied and group account is redistributed</li>
	</ol>
	</blockquote>
	<br>
	{{#unless batchCond.fullInfo}}
	<p><i>*Players will always see the contributions/earnings of the <b>same</b> two players on every round</i></p>
	{{/unless}}
	{{#if batchCond.messaging}}
	<p><i>*Players will always be communicating with the <b>same</b> player on every round</i></p>
	{{/if}}
</template>

<template name = "timing">
	<h3 align="center">Connection and Timing Considerations</h3>
	<blockquote class = "instr">
		Because you are interacting in <b>real time</b> with {{otherPlayers}} other players, it is <b>extremely important</b> that you make your decisions and complete your communication within a timely manner.<br><br>
		If you idle for too long during the game you will <b>forfeit</b> any bonuses you could have earned during this HIT.<br><br>
		If your game partners have connection issues you will still be paid for completing the HIT including any bonuses earned.
	</blockquote>
</template>

<template name = "preQuiz">
	<h3 align="center">Please be sure you have understood these instructions before proceeding</h3>
	<blockquote class = "instr">
		On the next page we will ask you some questions to ensure your understanding. If you fail to answer these questions correctly you will not be eligible to play and complete this HIT.<br><br>
		You may move backwards and forwards through these instructions screens as much as you like before and during the quiz.
	</blockquote>
</template>
-->