<template name= "instructionsInteractive">
	<div class = "container-fluid">
		{{> survey}}
		<!--{{> tutorial options}} -->
	</div>

</template>

<template name = "survey">
	<div class = "row well well-sm navbar-fixed-top survey-banner">
		<div class = "col-xs-5 survey-column-title">
			<h3 align="center"><u>Person 1</u></h3>
		</div>
		<div class = "col-xs-2 survey-column-title text-align">
		<h2 align="center"><i>Pair {{data.pairNum}}</i></h2>
		</div>
		<div class = "col-xs-5 survey-column-title">
			<h3 align="center"><u>Person 2</u></h3>
		</div>
	</div>
	{{#each data.exchanges}}
		{{> exchange}}
	{{/each}}
	<div class = "row">
		<div class="col-xs-2 col-xs-offset-5 text-center">
			<button type="button" class="btn btn-primary btn-lg submitPair">Submit Pair {{data.pairNum}}</button>
			<br>
			<p id='submitValidation'>One or more of the labels are unanswered!</p>
		</div>
	</div>
</template>
<!-- For instructions probably want a prepopulated exchange like this one
<div class = "row">
		<div class = "col-xs-5">
			<h5 align="center">Message 1</h5>
			<p align="center" class="bubbleLeft">Here is a really long message. It better text wrap other wise I'll have to mess with CSS bullshit, bahhhh! This is really annoying.</p>
		</div>
		<div class = "col-xs-2">
			<h3 align="center">Round 1</h3>
		</div>
		<div class = "col-xs-5">
			<h5 align="center">Message 1</h5>
			<p align="center" class="bubbleRight">I'm person 2. I'm ssoooooooo damn cool and my message is even longer so text wrapping better work for me toooo! Yay ok is this over 140 chars yet?</p>
		</div>
	</div>
	<div class = "row">
		<div class = "col-xs-5">
			<h5 align="center">Message 2</h5>
			<p align="center" class = "bubbleLeft"></p>
		</div>
		<div class = "col-xs-5 col-xs-offset-2">
			<h5 align="center">Message 2</h5>
			<p align="center" class = "bubbleRight">I'm person 2. I'm ssoooooooo damn cool and my message is even longer so text wrapping better work for me toooo! Yay ok is this over 140 chars yet?</p>
		</div>
	</div>
	<div class = "row">
		<div class = "col-xs-5">
			<form role="form" align="center" class = "leftLabel">
			    <label class="radio-inline">
		      		<input type="radio" name="radioLeft" value = "gossip">Gossip
		    	</label>
		    	<label class="radio-inline">
		      		<input type="radio" name="radioLeft" value = "strategy">Strategy
		    	</label>
		    	<label class="radio-inline">
		      		<input type="radio" name="radioLeft" value = "socialConn">Social Connection
		    	</label>
		    	<label class="radio-inline">
		      		<input type="radio" name="radioLeft" value = "gameComm">Game Commentary
		    	</label>
		    	<label class="radio-inline">
		      		<input type="radio" name="radioLeft" value = "nonsense">Nonsense
		    	</label>
		    	<label class="radio-inline">
		      		<input type="radio" name="radioLeft" value = "other">Other
		    	</label>
		  	</form>
	  	</div>
	  	<div class = "col-xs-5 col-xs-offset-2">
			<form role="form" align="center" class = "rightLabel">
				<label class="radio-inline">
		      		<input type="radio" name="radioRight" value = "gossip">Gossip
		    	</label>
		    	<label class="radio-inline">
		      		<input type="radio" name="radioRight" value = "strategy">Strategy
		    	</label>
		    	<label class="radio-inline">
		      		<input type="radio" name="radioRight" value = "socialConn">Social Connection
		    	</label>
		    	<label class="radio-inline">
		      		<input type="radio" name="radioRight" value = "gameComm">Game Commentary
		    	</label>
		    	<label class="radio-inline">
		      		<input type="radio" name="radioRight" value = "nonsense">Nonsense
		    	</label>
		    	<label class="radio-inline">
		      		<input type="radio" name="radioRight" value = "other">Other
		    	</label>
		  	</form>
	  	</div>
  	</div>
</template> -->