<template name ="quiz">
	<p align = "center"> Apply <b>as many labels</b> as you feel appropriately describe the content of the message. You must select <b>at least 1</b> label for each message.</p>
	<p align = "center"><i>You have two opportunities to submit your responses</i></p>

	<form class = "quiz">
		{{#each questions}}
			{{> question}}
		{{/each}}
		{{#if passedQuiz}}
			<div class = "alert alert-success" align="center">You have successfully passed the quiz! Click Finish to begin working on the HIT.</div>
		{{else}} {{#if Cond quizAttempts '==' 1}}
				<div class = "alert alert-warning" align="center">One or more of your answers are incorrect. You have one more attempt remaining.</div>
		{{else}} {{#if Cond quizAttempts '==' 2}}
				<div class = "alert alert-danger" align="center">One or more of your answers are still incorrect. You have exhausted your quiz attempts. Click Finish Below.</div>
		{{/if}}				
		{{/if}}
		{{/if}}
		{{#if Cond quizAttempts '!=' 2}}
			{{#unless passedQuiz}}
			<button type = "submit" class = "btn btn-primary btn-sm submit" aria-label="Left Align" style="margin-left:auto; margin-right:auto; display:block" id = "submitQuiz">Submit Answers</button>
			{{/unless}}
		{{/if}}
	</form>
</template>

<template name = "question">
	<div class = "form-group" id={{_id}}>
		<p class = "{{#if incorrect}}error{{/if}}">{{text}}</p>
		{{#each labels}}
	    	<label class="checkbox-inline">
  			<input type="checkbox" name="checkboxLeft" value = "{{_id}}">{{header}}
	    	</label>
    	{{/each}}
	</div>
</template>