/* Main */
body{
    padding-top: 50px;
    padding-bottom: 50px !important;
}
img#logo {
    width: auto;
    height: 100%;
}
img.avatar{
  margin-right: 2%;
}

/* Navbar styling */
.main-banner {
    height: 80px;
    margin: 0;
    padding-bottom: -5%;
    color: #CCFFFF;
    background-color: #000033 !important;
    border-color: transparent;
}
.survey-banner{
  top:80px;
  height: 50px;
}
.survey-column-title{
  margin-top: -15px;
  margin-bottom: 0px;

}
.navbar-header {
    height: 80px;
    width: auto;
    padding: 0;
    margin: 0;
}

/* Footer styling */
.footer{
  position:fixed;
  width:100%;
  bottom: 0%;
  height: 4%;
  background-color: #000033;
}
.footerText {
  font-size: 13px;
  margin-top: 10px;
  color:#FFFFFF;
}

/* Chat bubbles */
.bubbleLeft {
position: relative;
min-height: 50px;
width: 90%;
height: 100%;
padding: 5px 5px 5px 5px;
background: #d9edf7;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
margin-top: 1%;
margin-left: 10%;
color: #275A74;
}

.bubbleTriangleLeft {
content: '';
position: absolute;
border-style: solid;
border-width: 15px 24px 15px 0;
border-color: transparent #d9edf7;
display: block;
width: 0;
z-index: 1;
left: -8px;
top: 16px;
margin-left: 11%;
}

.bubbleRight {
position: relative;
min-height: 50px;
width: 90%;
height: 100%;
padding: 5px 5px 5px 5px;
background: #FFE5E5;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
margin-top: 1%;
margin-left: 0%;
color:#7F0000;
}

.bubbleTriangleRight {
content: '';
position: absolute;
border-style: solid;
border-width: 15px 0px 15px 24px;
border-color: transparent #FFE5E5;
display: block;
width: 0;
z-index: 1;
right: -8px;
top: 16px;
margin-right: 11%;
}

/* Labels */
td {
  padding: 0px 15px 0 20px !important;
}

.submitPair{
  margin-bottom: 10%;
}


p#submitValidation{
  font-size: 16px;
  background-color: #ffcccc;
  color: #990000;
  visibility: hidden;
  margin-left: -10%;
  margin-right: -10%;
  margin-top: -5%;
}

blockquote.instr {
  font-size: 16px;
  margin-bottom: 2%;
}

/*Instructions styling */
button#submitQuiz #invisible{
  visibility: hidden;
}

span.quiz {
  font-weight:normal;
}
span.noresp{
  visibility: hidden;
}
span.correct{
  color: #00CC00;
  font-weight: bold;
}
span.incorrect{
  color: #FF0000;
  font-weight: bold;
}
.alert{
  padding: .5%;
  font-weight: bold;
}



/* Contribution phase */
#contributionSliderRow{
  margin-top: 10%;
}
#contributionSubmit{
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10%;
}
.contributionText{
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}

/* Other player contributions phase */
.neighborContributions{
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  list-style: none;
  margin-top: 5%;
}
.neighborContributionsText{
  margin-bottom: 2%;
  text-align: center;
}

/* Messaging Phase */
#messagePrompt{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
#messagePrompt span{
  font-size: 14px;
  font-weight: normal;
}

#message-form:focus{
  outline: 0px solid transparent;
}


/* Chat bubble */
/* To handle long continous strings of text that extend outside a div */
.message{
  white-space: pre;           /* CSS 2.0 */
  white-space: pre-wrap;      /* CSS 2.1 */
  white-space: pre-line;      /* CSS 3.0 */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap;  /* HP Printers */
  word-wrap: break-word;      /* IE 5+ */
  min-width: 10px;
  min-height: 60px;
  font-size: 14px;
}





/* Round outcome */
.earnings{
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  margin-top: 2%;
}

/* Players rating each other */
input[type=range].playerRange{
  display: inline;
  width: 80%;
  margin-left: 2%;
}
#playerRatingSubmit{
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10%;
}

/* Final outcomes */
.finalEarnings{
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  list-style: none;
  margin-top: 1%;
  color: #AEAEAE;
}
.finalEarningsText{
  text-align: center;
  margin-bottom: 5%;
  position: relative;
  right: 5%;
}
#playerLabel{
  color: #309DD4;
  font-style: italic;
}

/* End survey */
input[type=range].beliefRating{
  display: inline;
  width: 30%;
  margin-left: 2%;
  margin-right: 2%;
}



.icon-bar {
    background-color: white !important;
}
.navbar-brand {
    height: 80px;
    padding: 2px;
}
.navbar-nav > li > a{
    height: 80px;
    padding: 30px 0 30px 30px;
    margin: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #CCFFFF;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
.navbar {min-height:40px !important;}

/* Progress bar styling */
#roundCounter{
  font-weight: bold;
  color: #000033
}

